<head>
   <meta charset="UTF-8">
   <title>Média Szerver</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!--enable mobile device-->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--fontawesome css-->
   <link rel="stylesheet" href="{{ static_url("css/font-awesome.min.css") }}">
   <!--bootstrap css-->
   <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
   <!--animate css-->
   <link rel="stylesheet" href="{{ static_url("css/animate-wow.css") }}">
   <!--main css-->
   <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/bootstrap-select.min.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/slick.min.css") }}">
   <!--responsive css-->
   <link rel="stylesheet" href="{{ static_url("css/responsive.css") }}">
   <link rel="icon" 
      type="image/png" 
      href="{{ static_url("images/cinema.png") }}" />
</head>
<body>
   <div class="page-content-product">
       <div class="main-product">
          <div class="container">
             <div class="row clearfix">
                <div class="find-box">
                   <h1><a href="/1">Média Szerver</a></h1>
                </div>
             </div>
             <div class="row clearfix">
                  <ul class="list-group">
                     {% for item in items %}
                     <li>{{ escape(item[0]) + "_____" + escape(item[2])}}</li>
                     {% end %}
                  </ul>
             </div>
          </div>
       </div>
    </div>
</body>