<head>
   <meta charset="UTF-8">
   <title>Média Szerver</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!--enable mobile device-->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--fontawesome css-->
   <link rel="stylesheet" href="{{ static_url("css/font-awesome.min.css") }}">
   <!--bootstrap css-->
   <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
   <!--animate css-->
   <link rel="stylesheet" href="{{ static_url("css/animate-wow.css") }}">
   <!--main css-->
   <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/bootstrap-select.min.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/slick.min.css") }}">
   <!--responsive css-->
   <link rel="stylesheet" href="{{ static_url("css/responsive.css") }}">
   <link rel="icon" 
      type="image/png" 
      href="{{ static_url("images/cinema.png") }}" />
</head>
<body>
   <div class="page-content-product">
       <div class="main-product">
          <div class="container">
             <div style="text-align: center" class="row clearfix">
                <div class="find-box">
                  <h1><a href="/1">Média Szerver</a></h1>
                   <form method="POST">
                       <div class="product-sh">
                          <div class="col-sm-6">
                             <div class="selecter">
                              <label for="category">Válassz egy kategóriát:</label>
                              <select id="category" name="categorylist">
                                 <option value="">Válassz</option>
                                 <option value="35">vígjáték</option>
                                 <option value="16">animáció</option>
                                 <option value="9648">misztikus</option>
                                 <option value="10770">TV film</option>
                                 <option value="18">dráma</option>
                                 <option value="53">thriller</option>
                                 <option value="10752">háborús</option>
                                 <option value="10751">családi</option>
                                 <option value="37">western</option>
                                 <option value="28">akció</option>
                                 <option value="80">bűnügyi</option>
                                 <option value="27">horror</option>
                                 <option value="14">fantasy</option>
                                 <option value="10749">romantikus</option>
                                 <option value="36">történelmi</option>
                                 <option value="99">dokumentumfilm</option>
                                 <option value="12">kaland</option>
                                 <option value="878">sci-fi</option>
                                 <option value="10402">zene</option>
                              </select>
                              <label for="year">Válassz egy évet:</label>
                              <select id="year" name="yearlist">
                                 <option value="">Válassz</option>
                                 {% for i in range(year, 1969, -1) %}
                                 <option value="{{i}}">{{i}}</option>
                                 {% end %}
                              </select>
                              <br>
                              <label for="types">Válassz egy típust:</label>
                              <select id="types" name="typelist">
                                 <option value="hd_hun">Film (HUN HD)</option>
                                 <option value="xvid_hun">Film (HUN SD)</option>
                                 <option value="hd">Film (EN HD)</option>
                                 <option value="xvid">Film (EN SD)</option>
                              </select>
                             </div>
                          </div>
                          <div class="col-sm-3">
                             <div class="form-sh"> <input type="submit" name="search" value="Keresés"/> </div>
                             <a class="dwn" href="/downloaded">Letöltöttek</a>
                          </div>
                       </div>
                   </form>
                </div>
             </div>
             <nav class="page-nav" aria-label="Page navigation example">
               <ul class="pagination">
                  {% if int(page) <= 1 %}
                  <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  {%else%}
                 <li class="page-item"><a class="page-link" href="/{{ int(page) - 1 }}">Előző</a></li>
                 {%end%}
                 {% for i in range(int(page), end_page) %}

                 {% if int(page) == i %}
                 <li class="page-item"><a style="color:#fff; background-color:#337ab7;" class="page-link" href="/{{ i }}">{{i}}</a></li>
                 {% else %}
                 <li class="page-item"><a class="page-link" href="/{{ i }}">{{i}}</a></li>
                 {% end %}

                 {% end %}
                 <li class="page-item"><a class="page-link" href="/{{ int(page) + 1 }}">Következő</a></li>
               </ul>
             </nav>
             <div class="row clearfix">
                 {% for item in items %}
                 <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="/more/{{ escape(item.index) }}">
                       <div class="box-img">
                          <h4>{{ escape(item.title) }}</h4>
                          {% if escape(item.posterPath) == "empty" %}
                          <img src="{{ static_url("images/notFound.jpg") }}" alt="" />
                          {% else %}
                          <img src="{{ escape(item.posterPath) }}" alt="" />
                          {% end %}
                       </div>
                    </a>
                 </div>
                 {% end %}
             </div>
             <nav class="page-nav" aria-label="Page navigation example">
               <ul class="pagination">
                  {% if int(page) <= 1 %}
                  <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  {%else%}
                 <li class="page-item"><a class="page-link" href="/{{ int(page) - 1 }}">Előző</a></li>
                 {%end%}
                 {% for i in range(int(page), end_page) %}

                 {% if int(page) == i %}
                 <li class="page-item"><a style="color:#fff; background-color:#337ab7;" class="page-link" href="/{{ i }}">{{i}}</a></li>
                 {% else %}
                 <li class="page-item"><a class="page-link" href="/{{ i }}">{{i}}</a></li>
                 {% end %}

                 {% end %}
                 <li class="page-item"><a class="page-link" href="/{{ int(page) + 1 }}">Következő</a></li>
               </ul>
             </nav>
          </div>
       </div>
    </div>
</body>