<head>
   <meta charset="UTF-8">
   <title>Média Szerver</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!--enable mobile device-->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--fontawesome css-->
   <link rel="stylesheet" href="{{ static_url("css/font-awesome.min.css") }}">
   <!--bootstrap css-->
   <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
   <!--animate css-->
   <link rel="stylesheet" href="{{ static_url("css/animate-wow.css") }}">
   <!--main css-->
   <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/bootstrap-select.min.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/slick.min.css") }}">
   <!--responsive css-->
   <link rel="stylesheet" href="{{ static_url("css/responsive.css") }}">
   <link rel="icon" 
      type="image/png" 
      href="{{ static_url("images/cinema.png") }}" />
</head>
<body>
   <div class="row">
      <div class="main-start-box">
         <div class="container">
            <div class="supplier clearfix">
               <div class="col-md-7 col-sm-7">
                  <div class="left-supplier">
                     <form method="POST">
                        <h2>{{ escape(item.title) }}</h2>
                        <p>{{ escape(item.overView) }}</p>
                        <label for="torrents">Válassz torrentet:</label>
                        <select id="torrents" name="torrentlist">
                           {% for torrent in torrents %}
                           <option value="{{ torrent.index }}">{{ "Méret: " + torrent.size + " Seeds: " + torrent.seeds}}</option>
                           {% end %}
                        </select>
                        <div class="col-sm-3">
                           <div class="form-sh"> <input type="submit" value="Letöltés"/> </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-md-5 col-sm-6">
                  <div class="right-supplier">
                     {% if escape(item.posterPath) == "empty" %}
                     <img src="{{ static_url("images/notFound.jpg") }}" alt="" />
                     {% else %}
                     <img src="{{ escape(item.posterPath) }}" alt="" />
                     {% end %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>