<head>
   <meta charset="UTF-8">
   <title>Média Szerver</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!--enable mobile device-->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--fontawesome css-->
   <link rel="stylesheet" href="{{ static_url("css/font-awesome.min.css") }}">
   <!--bootstrap css-->
   <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
   <!--animate css-->
   <link rel="stylesheet" href="{{ static_url("css/animate-wow.css") }}">
   <!--main css-->
   <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/bootstrap-select.min.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/slick.min.css") }}">
   <!--responsive css-->
   <link rel="stylesheet" href="{{ static_url("css/responsive.css") }}">
   <link rel="icon" 
      type="image/png" 
      href="{{ static_url("images/cinema.png") }}" />
</head>
<body>
   <div class="page-content-product">
       <div class="main-product">
          <div class="container">
             <div class="row clearfix">
                <div class="find-box">
                  <h1><a href="/1">Média Szerver</a></h1>
                </div>
             </div>
             <nav class="page-nav" aria-label="Page navigation example">
               <ul class="pagination">
                  {% if int(page) <= 1 %}
                  <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  {%else%}
                 <li class="page-item"><a class="page-link" href="/{{ int(page) - 1 }}">Előző</a></li>
                 {%end%}
                 {% for i in range(int(page), end_page) %}

                 {% if int(page) == i %}
                 <li class="page-item"><a style="color:#fff; background-color:#337ab7;" class="page-link" href="/{{ i }}">{{i}}</a></li>
                 {% else %}
                 <li class="page-item"><a class="page-link" href="/{{ i }}">{{i}}</a></li>
                 {% end %}

                 {% end %}
                 <li class="page-item"><a class="page-link" href="/{{ int(page) + 1 }}">Következő</a></li>
               </ul>
             </nav>
             <div class="row clearfix">
                 {% for item in items %}
                 <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="/searchMore/{{ escape(item.index) }}">
                       <div class="box-img">
                          <h4>{{ escape(item.title) }}</h4>
                          {% if escape(item.posterPath) == "empty" %}
                          <img src="{{ static_url("images/notFound.jpg") }}" alt="" />
                          {% else %}
                          <img src="{{ escape(item.posterPath) }}" alt="" />
                          {% end %}
                       </div>
                    </a>
                 </div>
                 {% end %}
             </div>
             <nav class="page-nav" aria-label="Page navigation example">
               <ul class="pagination">
                  {% if int(page) <= 1 %}
                  <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  {%else%}
                 <li class="page-item"><a class="page-link" href="/{{ int(page) - 1 }}">Előző</a></li>
                 {%end%}
                 {% for i in range(int(page), end_page) %}

                 {% if int(page) == i %}
                 <li class="page-item"><a style="color:#fff; background-color:#337ab7;" class="page-link" href="/{{ i }}">{{i}}</a></li>
                 {% else %}
                 <li class="page-item"><a class="page-link" href="/{{ i }}">{{i}}</a></li>
                 {% end %}

                 {% end %}
                 <li class="page-item"><a class="page-link" href="/{{ int(page) + 1 }}">Következő</a></li>
               </ul>
             </nav>
          </div>
       </div>
    </div>
</body>